/**/

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: 100px; 
    background-color: midnightblue;
    color:oldlace;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header > h1{
    background-color: midnightblue;
    color:oldlace;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header > nav{
display: grid;
grid-template-columns: repeat(4, 1fr);
}

button {
    text-decoration: none;
    width: 100%;
    height: 100px;
    background-color: gray;
    color:oldlace;
    font-size: 25px;
}

a {
    color: oldlace;
    text-decoration: none;
}

.gridSection1 {}


.gridSection2 {}

.gridSection3 {}

.gridSection4 {}

.gridSection5 {}

.gridSection6 {}
/**/

footer { 
    background-color: midnightblue;
    color:oldlace;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}