
/* Header section */

header > h1{
    background-color: midnightblue;
    color:oldlace;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header > nav{
display: grid;
grid-template-columns: repeat(4, 1fr);
}

/* Nav buttons */

button {
    text-decoration: none;
    width: 100%;
    height: 100px;
    background-color: gray;
    color:oldlace;
    font-size: 25px;
}

/* Links */

a {
    color: oldlace;
    text-decoration: none;
}

/* Grid general styling */


.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
        "sect1 sect1 sect1 sect1"
        "sect2 sect2 sect2 sect2"
        "sect3 sect3 sect3 sect3"
        "sect4 sect4 sect4 sect4"
        "sect5 sect5 sect5 sect5"
        "sect6 sect6 sect6 sect6"
    ;
    background-color: midnightblue;
    color: oldlace;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Grid sections */

.gridSection1 {
    grid-area: sect1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "me job";
    margin-bottom: 1em;
}

.gridSection1 img {
    grid-area: me;
    width: 100%;
}

.gridSection1 aside {
    grid-area: job;
    padding: 10px;
}

.gridSection2 {
    grid-area: sect2;
}

.gridSection3 {
    grid-area: sect3;
}

.gridSection4 {
    grid-area: sect4;
}

.gridSection5 {
    grid-area: sect5;
}

.gridSection6 {
    grid-area: sect6;
}

/* Footer */

footer { 
    background-color: midnightblue;
    color:oldlace;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}